<div class="flex flex-col gap-8 h-6 px-8">

    @if(tableDataExists()) {
      
    } @else {
      <div class="flex items-center gap-2 text-gray-500">
        <p class="m-0">Geen sollicitaties gevonden.</p>
      </div>
    }

  <div class="flex w-full items-center justify-between gap-4">
    <app-search class="w-3/6 shrink-0" (search)="onSearch($event)"></app-search>

  </div>

  @if(BUILD_COMMIT){
    <div class="text-xs text-blue-400 self-end">{{ BUILD_COMMIT }}@{{ BUILD_DATE }}</div>
  }
</div>
