<div class="flex flex-col gap-8 h-6 p-8">
  <div class="rowContainer">
    @if(dataSource.data.length === 0){
      <div class="flex items-center gap-2 text-gray-500">
        <mat-icon>manage_search</mat-icon>
        <p class="m-0">Niks gevonden voor deze zoekopdracht.</p>
      </div>
    }
    @else {
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        #sort="matSort"
        class="mat-elevation-z8 fixed-table"
      >
        <!-- Datum Column -->
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DATUM</th>
          <td mat-cell *matCellDef="let element">
            {{element.datum ? (element.datum.toDate() | date:'EEEE, d MMMM y') : null}}
          </td>
        </ng-container>

        <!-- Bedrijf Column -->
        <ng-container matColumnDef="bedrijf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BEDRIJF</th>
          <td mat-cell *matCellDef="let element">{{element.bedrijf}}</td>
        </ng-container>

        <!-- Locatie Column -->
        <ng-container matColumnDef="locatie">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>LOCATIE</th>
          <td mat-cell *matCellDef="let element">{{element.locatie}}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
          <td mat-cell *matCellDef="let element">
            <span
              [class.accepted]="element.status === 'accepted'"
              [class.pending]="element.status === 'pending'"
              [class.rejected]="element.status === 'rejected'"
              >{{element.status }}</span
            >
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['datum', 'bedrijf', 'locatie', 'status']"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row;columns: ['datum', 'bedrijf', 'locatie', 'status'];"
          (click)="toonSollicitatie(row.id)"
        ></tr>
      </table>
  }

    <mat-paginator
      #paginator
      [length]="10"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <div class="flex w-full items-center justify-between gap-4">
    <app-search class="w-3/6 shrink-0" (search)="onSearch($event)"></app-search>
    <button
      matButton="elevated"
      class=" shrink-0 flex flex-col p-0 h-10 w-10 !bg-[var(--brand-color)] rounded-full !text-white items-center justify-center"
      (click)="activateRoute('/add-job')"
      title="Nieuwe sollicitatie toevoegen"
    >
      <mat-icon class="m-0 font-bold">add</mat-icon>
    </button>
  </div>

  @if(BUILD_COMMIT){
    <div class="text-xs text-blue-400 self-end">{{ BUILD_COMMIT }}@{{ BUILD_DATE }}</div>
  }
</div>
