<div>
  <h2>Eerst even inloggen...</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="loginWithEmailAndPassword()"
  >
    <input
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
    />

    <div class="flex justify-between">
      <button
        type="button"
        (click)="router.navigateByUrl('/registreer')"
      >
        Register
      </button>
      <button
        color="primary"
        type="submit"
      >
        Login
      </button>
    </div>
  </form>

  <button
    color="primary"
    (click)="loginWithGithub()"
  >
    Login met Github
  </button>

  <button
    color="primary"
    (click)="loginWithGoogle()"
  >
    Login met Google
  </button>
</div>
