<div class="header">
  <div>
    <img
    src="../../../assets/img/jobsearch.svg"
    width="64px"
    alt="Plaatje van een krant met omcirkelde baan advertentie"></div>

  <div [ngClass]="{
    'header-section': true,
    'align-right': (authService.isAuthenticated$ | async),
    'align-center': !(authService.isAuthenticated$ | async)}">
    <h1 class="title-center">Sollicitaties</h1>
  </div>

  <div class="header-section right">
    @if(authService.isAuthenticated$ | async) {
      <span>Laatste login: {{ (lastLogin$ | async) | date:'EEEE d MMMM y HH:MM:ss' }}</span>
      <button mat-flat-button (click)="signOut()">Log uit</button>
    }
    </div>
</div>

