$container-bg-color: #f3f4f6;
$row-bg-color: #ffffff;
$cell-bg-color: #ffffff;
$cell-hover-bg-color: #ccc;
$border-color: #d1d5db;
$border-radius-cell: 5px;
$border-radius-cell-row-end: 21px;
$box-shadow-default: 0 1px 3px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 4px 6px rgba(0, 0, 0, 0.1);
$icon-size-fab: 64px;