@use 'app/__variables' as vars;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
body {
  background-color: vars.$bg-color;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;

  h1 {
    @apply text-4xl font-bold text-gray-800 m-0 p-0;
  }

  h2 {
    @apply text-2xl font-bold text-gray-800 m-0 p-0;
  }

  table[mat-table],
  .mat-mdc-table {
    border-collapse: separate;
    border-spacing: 0 8px;
  }

  .mat-mdc-table .mat-mdc-header-cell {
    @apply bg-[var(--table-header-bg-color)] text-white font-semibold;

    .mat-sort-header-arrow {
      @apply text-yellow-100;
    }

    &:first-of-type {
      @apply rounded-tl-lg rounded-bl-lg;
    } 

    &:last-of-type {
      @apply rounded-tr-lg rounded-br-lg;
    } 
  }

  .mat-mdc-table .mat-mdc-row {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-cell-row-end);
    box-shadow: var(--box-shadow-default);
    overflow: hidden;

    .mat-mdc-cell {
      border: none;
      border-radius: 0;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: var(--cell-odd-bg-color);

        &:hover {
          background-color: var(--cell-odd-hover-bg-color);
        }
      }

      &:nth-child(even) {
        background-color: var(--cell-even-bg-color);

        &:hover {
          background-color: var(--cell-even-hover-bg-color);
          color: #1a2222;
        }
      }

      &:first-of-type {
        border-left: 1px solid var(--border-color);
        border-top-left-radius: var(--border-radius-cell-row-end);
        border-bottom-left-radius: var(--border-radius-cell-row-end);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:hover {
          border-top-left-radius: var(--border-radius-cell-row-end);
          border-bottom-left-radius: var(--border-radius-cell-row-end);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:last-of-type {
        border-right: 1px solid var(--border-color);
        border-top-right-radius: var(--border-radius-cell-row-end);
        border-bottom-right-radius: var(--border-radius-cell-row-end);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:hover {
          border-top-right-radius: var(--border-radius-cell-row-end);
          border-bottom-right-radius: var(--border-radius-cell-row-end);
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &:not(:first-of-type):not(:last-of-type):hover {
        border-radius: 0;
      }
    }
  }

  // maak de placeholder tekst lichtgrijs
  .placeholder-gray-500::placeholder {
    color: rgb(107 114 128 / 0.5);
  }

}
