@use 'app/__variables' as vars;

/* You can add global styles to this file, and also import other style files */
body {
  background-color: vars.$bg-color;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}
