<div class="p-8 max-w-[1100px] mx-auto">
  <h2 class="mb-8 text-gray-800">Sollicitatie toevoegen</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="">
    <div class="grid grid-cols-2 gap-4">
      <mat-form-field class="w-full">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="datumPicker" formControlName="datum" />
        <mat-datepicker-toggle
          matSuffix
          [for]="datumPicker"
          data-test="date_picker_datum"
        ></mat-datepicker-toggle>
        <mat-datepicker #datumPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Sluitingsdatum</mat-label>
        <input
          matInput
          [matDatepicker]="sluitingsdatumPicker"
          formControlName="sluitingsdatum"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="sluitingsdatumPicker"
          data-test="date_picker_sluitingsdatum"
        ></mat-datepicker-toggle>
        <mat-datepicker #sluitingsdatumPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <mat-form-field class="w-full">
        <mat-label>Bedrijf</mat-label>
        <input matInput formControlName="bedrijf" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Kies een locatie</mat-label>
        <input
          matInput
          formControlName="locatie"
          [matAutocomplete]="auto"
          placeholder="...of type een nieuwe locatie"
          data-test="input_locatie"
        />

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let locatie of (locatie$ | async)"
            [value]="locatie"
          >
            {{ locatie }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-1 gap-4">
      <mat-form-field class="w-full">
        <mat-label>Aanvraag</mat-label>
        <textarea matInput formControlName="aanvraag" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-1 gap-4">
      <mat-form-field class="w-full">
        <mat-label>Motivatie</mat-label>
        <textarea matInput formControlName="motivatie" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-1 gap-4">
      <mat-form-field class="w-full">
        <mat-label>Updates:</mat-label>
        <textarea matInput formControlName="updates" rows="3"></textarea>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <label class="flex justify-end self-center font-medium text-gray-500">Status</label>
      <mat-radio-group formControlName="status" class="flex flex-row gap-8">
        <mat-radio-button value="pending">In afwachting</mat-radio-button>
        <mat-radio-button value="accepted">Success</mat-radio-button>
        <mat-radio-button value="rejected">Niks geworden</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex gap-4 justify-between mt-4">
      <button
        mat-raised-button
        (click)="activateRoute('jobs')"
        title="Toon jobs"
      >
        <mat-icon class="px-3">arrow_back_ios</mat-icon>
      </button>
      <div class="flex gap-3">
        <button
          mat-raised-button
          type="button"
          (click)="onCancel()"
          data-test="button_cancel"
        >
          Wis formulier
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          OK
        </button>
      </div>
    </div>
  </form>

</div>
