<div class="add-sollicitatie-container">
  <h2>Add Sollicitatie</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
    </div>

    <div class="form-row">
    </div>

    <div class="form-row">
    </div>

    <div class="form-row">
    </div>

    <div class="form-row">
    </div>

    <div class="form-row">
      <label class="radio-label !flex !justify-end self-center">Status</label>
    </div>

    <div class="form-actions">
      <div class="flex gap-3">
      </div>
    </div>
  </form>

</div>
