<div class="header">
  <div>
    <img
      src="../../../assets/img/jobsearch.svg"
      width="64px"
      alt="Plaatje van een krant met baan advertenties"
    />
  </div>

  <div class="justify-self-center text-center">
    <h1 class="text-4xl font-bold text-gray-800">jobs</h1>
  </div>

  <div class="header-section">
    @if(authService.isAuthenticated$ | async) {
    <span
      >Laatste login: {{ (lastLogin$ | async) | date:'EEEE d MMMM y HH:MM:ss'
      }}</span
    >
    <button mat-flat-button (click)="signOut()" class="!bg-[var(--brand-color)]">Log uit</button>
    }
  </div>
</div>
